<!doctype html>
<html>
<head>
  <title>Qwirkle</title>
  <style type="text/css">
    #pass-btn {
    }
  
    #qwirkle {
      position: relative;
    }
  
    .q_box {
      width: 42px;
      height: 42px;
      position: absolute;
      box-sizing: border-box;
      border: 2px #000 solid;
    }
  
    .q_box.black {
      background-color: #444;
    }
  
    .q_box.white {
      background-color: #eee;
    }
  </style>
</head>
<body>
  <div id="qwirkle"></div>
  <script src="{{bundle}}"></script>
</body>
</html>
